.page-title {
    font-size: 3rem;
    font-weight: 700;
    color: #f0d9b5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ffffff20;
    text-align: center;
}
.page-title::after {
    content: "";
    display: block;
    width: 18.75rem;
    margin: 0.4rem auto 0;
    border-bottom: 3px solid lightgray;
    border-radius: 2px;
}

.subtitle {
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 20px;
    text-align: center;
}