.board-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgb(70, 70, 70) url("/static/images/background.svg") center center no-repeat;
    background-size: auto;
    border: 4px solid #444;
    white-space: nowrap;
}

.board-size-wrapper {
    flex-direction: column;
    gap: 2px;
    padding: 3px;
    margin-bottom: 10px;
    font-size: 1rem;
}
label[for="board-size"] {
    font-weight: 600;
    font-size: 1.15rem;
}
#board-size {
    accent-color: #2e2e2e;
}

.fen-form {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.fen-form label {
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
}
.fen-form input {
    width: 80%;
    padding: 4px 8px;
    font-size: 1.05rem;
    max-width: 32.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.2s ease;
}
.fen-form input::placeholder {
    color: rgb(187, 187, 187);
}
.fen-form input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #54a1ff80;
}

.flash-wrapper {
    height: 2rem;
}
.flash {
    margin: 5px;
}
.flash-error {
    color: #ff0e0ed3;
}
.flash-success {
    color: #54a1ffba;
}

.board-stats-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#chessboard {
    --square-size: 70px;
    display: grid;
    grid-template-columns: repeat(8, min(8vw, var(--square-size)));
    grid-template-rows: repeat(8, min(8vw, var(--square-size)));
    border: 4px solid #444;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    z-index: 1;
}
.chessboard.animate {
    transition: grid-template-columns 0.2s ease, grid-template-rows 0.2s ease;
}

.square {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.square.light {
    background-color: #f0d9b5;
}
.square.dark {
    background-color: #b58863;
}
.square:hover {
    box-shadow: inset 0 0 0 5px #ffcc00;
}
.square:hover .piece {
    transform: scale(1.08);
}
.square.highlight:hover, .highlight {
    transition: box-shadow 0.2s ease;
    box-shadow: inset 0 0 0 5px #3ca1ff;
}
.square.error {
    transition: box-shadow 0.2s ease;
    box-shadow: inset 0 0 0 5px rgb(255, 80, 80);
}


.corner-label {
    position: absolute;
    font-weight: 600;
    font-size: 1.1rem;
}
.ranks {
    top: 3px;
    left: 5px;
}
.ranks.even {
    color: #2e2e2e;
}
.ranks.odd {
    color: lightgray;
}
.files {
    bottom: 3px;
    right: 5px;
}
.files.even {
    color: #2e2e2e;
}
.files.odd {
    color: lightgray;
}

.piece {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    transition: transform 0.2s ease;
    user-select: none;
    -webkit-user-drag: none;
}
.piece.fade-in {
    animation: fadeInTop 0.3s ease-in-out;
}

.stats {
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    width: max-content;
}
.stat {
    font-size: clamp(8px, 1.5vw, 20px);
    color: #f0d9b5;
    overflow-wrap: break-word;
    font-weight: 600;
    padding: 3px 6px;
    margin-bottom: 4px;
}

.reset {
    margin-top: 20px;
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    #chessboard {
        grid-template-columns: repeat(8, min(12vw, var(--square-size)));
        grid-template-rows: repeat(8, min(12vw, var(--square-size)));
    }

    .stats {
        flex-direction: row;
        bottom: 100%;
        top: auto;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        gap: 5px;
    }

    .corner-label {
        font-size: 0.9rem;
    }
}