*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2e2e2e url("/static/images/background.svg") center center repeat;
}

button {
    font-size: 1.15rem;
    background-color: white;
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
    cursor: pointer;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
}
button:hover {
    background-color: lightgray;
}
button:active {
    box-shadow: 0 0 0 2px #54a1ff80;
}