*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2e2e2e url("/static/images/background.svg") center center repeat;
}

.title-bar {
    width: 100%;
    background: #1a1a1a;
    color: white;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: sticky;
    top: 0;
}

.title-bar .logo {
    height: 120px;
    margin-right: 15px;
    cursor: pointer;
}

.lan-status-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.lan-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease;
    margin-left: auto;
    margin-right: 10px;
    position: relative;
}

/* Glossy shine */
.lan-status::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    pointer-events: none;
}
