<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess AI Engine</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
        <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/layout.js') }}"></script>
    </body>
</html>